.workCited-section-content.container#work-cited
.col-sm-12
    h2= 'Work cited'
.row
    p Agloro, Alexandrina. Stakeholder Reviewing the Interactive Prototypes Savannah Schuchardt, et al. 27 November 2017.
    p Barbara, Andrews, et al. "Teaching Participatory Design." <em>PDC '14 Companion</em> (2014): 203-204.
    p Bardzell, Shaowen. "Feminist HCI: Taking Stock and Outlining an Agenda for Design." <em>CHI 2010</em> (2010): 1301-1310.
    p Howley, Iris and Todd Newman. "Factors Impacting Community Response in an Interest-Sharing Network." <em>CHI 2013: Changing Perspectives.</em> Paris: ACM, 2013.
    p Keating, Cricket. Stakeholder Reviewing the Interactive Prototypes Savannah Schuchardt, et al. 4 December 2017.
    p Chang, Yenning, Younkyung Lim and Erik Stolterman. "Personas: From Theory to Practices." <em>NordiCHI</em> (2009).
    p Ehrlich, Kate, Ido Guy and Inbal Ronen. "What Motivates Members to Contribute to Enterprise Online Communities?" <em>CSCW</em> (2014).
    p Lab, IBM Haifa Research. "Do You Want to Know? Recommending Strangers in the Enterprise." (2011).
    p Krebs, Valdis and June Holley. "Building Smart Communities through Network Weaving." 2006. <em>Orgnet.</em> 15 October 2017.
    p Krebs, Valdis. "Communities of Connections." 30th August 2016. <em>The Network Thinkers</em>. 15 October 2017.
    p Martin, Bella and Bruce Hanington. Universal Methods of Design. <em>Beverly: Rockport Publishers</em>, 2012.
    p Zimmerman, John, Jodi Forlizzi and Shelley Evenson. "Research Through Design as a Method forInteraction Design Research in HCI." (2007): 11.
