@font-face {
    font-family: 'Satisfy Regular';
    src: url('../fonts/Satisfy-Regular.ttf');
    font-weight: 600;
}

@font-face {
    font-family: 'CrimsonText Regular';
    src: url('../fonts/CrimsonText-Regular.ttf');
    font-weight: 600;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans-Light.ttf');
    font-weight: 300;
}

@accent-color-light: rgb(255, 246, 237);
@accent-color: rgb(252, 123, 89);
@accent-color-dark: rgb(200, 150, 165);


html,
body {
    height: 100%;
    font-size: 15px;
    -webkit-font-smoothing: antialiased;
    p {
        line-height: 2.0;
    }
}
.rootpage-container {
    font-family: 'OpenSans', sans-serif;
    h1 {
        font-family: 'Satisfy Regular';
        font-size: 64px;
        padding-top: 30px;
        padding-bottom: 15px;
    }
    h2 {
        font-family: 'OpenSans';
        font-weight: lighter;
        font-size: 26px;
        padding-top: 60px;
        padding-bottom: 20px;
        text-align: center;
    }
    h3 {
        padding-top: 30px;
        font-family: 'CrimsonText Regular';
        font-size: 23px;
    }
    h3.h3-no-top-margin {
        padding-top: 0px;
    }
    h4 {
        font-size: 18px;
        font-weight: bold;
    }
 
    .font-weight-bold {
        font-weight: bold;
        padding-top: 5px;
        padding-bottom: 10px;
    }
    .diagram-container {
        background: @accent-color-light;
        padding: 20px;
        //border: 1px solid @accent-color-dark;
        //border-radius: 25px;
    }
    .header-section-content {
        .pre-navbar-header {
            height: 460px;
            background-color: rgb(248, 248, 248);
            overflow: hidden;
            text-align: center;
            p {
                margin-bottom: 4px;
             }
            .header-images {
                img {
                    margin-top: 20px;
                    width: 260px;
                    margin-right: 40px;
                    margin-left: 40px;
                }
            }
        }
        nav {
            width: 100%;
            position: static;
            top: -32px;
            border-radius: 0px;
            .navbar-header {
                font-family: 'Satisfy Regular';
            }
            li {
                a {
                    color: white;
                    font-weight: bold;
                }
            }
            li.active {
                a {
                    border-width: 0px 0px 3px 0px;
                    border-color: @accent-color;
                    border-style: solid;
                }
            }
            li:hover {
                a {
                    border-width: 0px 0px 3px 0px;
                    border-color: @accent-color;
                    border-style: solid;
                }
            }
        }
        nav.affix {
            position: fixed;
            top: 0;
            z-index:10;
            -webkit-transition: all .6s ease-in-out;
        }
    }

    .overview-section-content {
        .section-text {
            padding-top: 20px;
        }
        .section-diagram {
            img {
                height: 40px;
            }
            line-height: 1.2;
            p {
                margin-bottom: 2px;
            }
            .overview-item {
                padding-bottom: 20px;
                p {
                    line-height: 1.2;
                }
            }
        }
    }

    .problem-section-container {
        // background-color: rgb(248, 248, 248);
        .problem-section-content {
            .interview {
                .problems-diagram {
                    margin-top: 35px;
                    padding-top: 20px;
                    padding-bottom: 10px;
                    img {
                        width: 60px;
                        margin-bottom: 30px;
                    }
                }
            }
        }
    }

    .research-section-content {
        .interview-pic {
            height: 420px;
            background: no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            .photo-description {
                margin-top: 340px;
                color: white;
                padding: 20px;
                background: rgba(0, 0, 0, 0.7);
            }
        }
        .other-persona {
            padding: 20px;
            img {
                margin: 5px;
            }
        }
        .data-diagram-data {
            p {
                line-height: 1.2;
            }
            col-sm-6 {
                padding-left: 5px;
                padding-right: 5px;
            }
            padding-bottom: 0px;
        }
        .data-diagram-text {
            padding-top: 60px;
        }
    }

    .solution-section-content {
        .prototype-paper-community
        {
            img {
                margin-top: 15px;
                margin-bottom: 50px;
            }
            P:first-of-type {
                margin-top: 80px;
            }
        }
        table {
            font-size: 15px;
            th {
                width: 50%;
            }
            td {
                padding: 15px;
            }
        }
        .prototype-paper {
            margin-left: -15px;
        }
    }

    .reflection-section-content {
        li {
            line-height: 2.0;
        }
    }

    .section-content{
        min-height: 200px;
        background-color: #ccc;
        margin: 20px 0;
        font-weight: lighter;
        background-color: white;
        color: #333;
        line-height: 2.0;
    }
}
