@font-face {
    font-family: 'Satisfy Regular';
    src: url('../fonts/Satisfy-Regular.ttf');
    font-weight: 600;
}

@font-face {
    font-family: 'CrimsonText Regular';
    src: url('../fonts/CrimsonText-Regular.ttf');
    font-weight: 600;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans-Light.ttf');
    font-weight: 300;
}

html,
body {
    height: 100%;
    -webkit-font-smoothing: antialiased;
}
.rootpage-container {
    font-family: 'OpenSans', sans-serif;
    h2 {
        font-family: 'Satisfy Regular';
    }
    h3 {
        font-family: 'CrimsonText Regular';
    }
    .header-section-content {
        .pre-navbar-header {
            height: 350px;
            background-color: white;
            overflow: hidden;
            text-align: center;
            img {
                width: 260px;
                margin-right: 10px;
                margin-left: 10px;
            }
        }
        nav {
            width: 100%;
            position: static;
            top: -32px;
        }    
        nav.affix {
            position: fixed;
            top: 0;
            z-index:10;
            -webkit-transition: all .6s ease-in-out;
        } 
    }

    .overview-section-content {
        .section-diagram {
            background: rgb(221, 209, 215);
            padding: 20px;
            img {
                height: 40px;
            }
        }
    }

    .problem-section-content {
        .interview {
            .problems-diagram {
                background: rgb(221, 209, 215);
                padding: 20px;
                img {
                    width: 60px;
                    margin-bottom: 30px;
                }
            }
        }
    }

    .research-section-content {
        .interview-pic {
            height: 420px;
            background: no-repeat center center fixed; 
            // -webkit-background-size: cover;
            // -moz-background-size: cover;
            // -o-background-size: cover;
            // background-size: cover;
        }
        .other-persona {
            background: rgb(221, 209, 215);
            padding: 20px;
            img {
                margin: 5px;
            }
        }
    }
    
    .section-content{
        min-height: 200px;
        background-color: #ccc;
        margin: 20px 0;
        font-size: 18px;
        background-color: white;
        text-align: center;
        color: #333; 
    }
}
