.conclusion-section-content.container#conclusion
    .col-sm-12
        h2= 'conclusion'
    .row= 'Based on the feedback from the both stakeholders, the application needs to have more unique solutions to avoid the unappealing features of integrating links. The users expect more innovative idea than having a folder that gathers all the communication app icons in user’s smartphone. To achieve that, the team need to have more time to embody more theoretical concepts to the solution that the stakeholders care of. I recommend having the system of matching the users with their similar interests and profiles as attempts to adopt the decentralized network model from the feminist theory.'
