.solution-section-content.container#solution
    .col-sm-12
        h2= 'solution'
    .row= 'Solution 1: Focusing on "Integraing communication services to reduce the complexity"'
    .row
        .col-sm-8.prototype-paper
            img(src=paperProtoPic)
        .col-sm-4.prototype-team
            iframe(width='438' height='930' src='https://invis.io/AXENDS2FS' frameborder='0' allowfullscreen)
    .row= 'Solution 2: Focusing on "Creating connections without having the central hub (Decentralized network)"'
    .high-fidelity-prototype.container
        // iframe(width="438" height="930" src="//invis.io/BMENJHG5C" frameborder="0" allowfullscreen)
        video(controls loop autoplay)
            source(src='http://katesohng.com/unify/signup-process.webm' type='video/webm' codecs='vp8')
