.solution-section-content.container#solution
    .col-sm-12
        h2= 'solution'
    .row= 'Solution 1: Focusing on "Integraing communication services to reduce the complexity"'
    .row
        .col-sm-8.prototype-paper
            img(src=paperProtoPic)
        .col-sm-4.prototype-team
            // TODO
    .row= 'Solution 2: Focusing on "Creating connections without having the central hub (Decentralized network)"'
    .high-fidelity-prototype.container
        iframe(width="438" height="930" src="//invis.io/BMENJHG5C" frameborder="0" allowfullscreen)